Deepleo.Web/Service References/CommandServiceReference/CommanderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommanderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICommanderService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5566/CommanderService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5566/CommanderService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommanderService_GetAccessToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccessToken" />
  </wsdl:message>
  <wsdl:message name="ICommanderService_GetAccessToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccessTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ICommanderService_GetJsTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJsTicket" />
  </wsdl:message>
  <wsdl:message name="ICommanderService_GetJsTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJsTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommanderService">
    <wsdl:operation name="GetAccessToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommanderService/GetAccessToken" message="tns:ICommanderService_GetAccessToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommanderService/GetAccessTokenResponse" message="tns:ICommanderService_GetAccessToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJsTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommanderService/GetJsTicket" message="tns:ICommanderService_GetJsTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommanderService/GetJsTicketResponse" message="tns:ICommanderService_GetJsTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ICommanderService" type="tns:ICommanderService">
    <wsp:PolicyReference URI="#WSHttpBinding_ICommanderService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccessToken">
      <soap12:operation soapAction="http://tempuri.org/ICommanderService/GetAccessToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJsTicket">
      <soap12:operation soapAction="http://tempuri.org/ICommanderService/GetJsTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommanderService">
    <wsdl:port name="WSHttpBinding_ICommanderService" binding="tns:WSHttpBinding_ICommanderService">
      <soap12:address location="http://localhost:5566/CommanderService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:5566/CommanderService/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>