Deepleo.Web/Service References/CommandServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetAccessToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appSecret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="force" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccessTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appSecret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="force" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJsTicketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>